<%= form_for @reservation, :url => {:action => :update}   do |f| %>

 <div class="text-center"><%= f.text_field :address %></div>

    <%= f.submit "待ち合わせ登録", class: "btn btn-primary center-block" %>

 
 <% end %>


 <body>
    <div id="map"></div>
    <style>
    	#map {
        height: 500px;
        width: 70%;
      }
    </style>
    <script>
      function initMap() {
        var uluru = {lat: <%= @reservation.latitude %>, lng: <%= @reservation.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB34ifLuCQWsdOXVdW97YwamxcI5Svwh-s&callback=initMap"
    async defer></script>
  </body>